<!DOCTYPE html>
<html dir="ltr" lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>{% block title %} login {% endblock %}</title>
    {% include 'style.html' %}
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
            style="background:url({% static 'assets/images/big/auth-bg.jpg' %}) no-repeat center center;">
            <div class="auth-box row justify-content-center">
                <div class="auth-box-inner col-lg-8 col-md-10 col-11 bg-white">
                    <div class="p-4">
                        <div class="text-center">
                            <div class="w-50  mx-auto">
                                <img src="{% static 'assets/images/logo-black-red-long.png' %}" alt="logo" class="img-fluid mh-100">
                            </div>
                        </div>
                        <form class="mt-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-dark" for="uname">Username</label>
                                        <input class="form-control" id="uname" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-1">
                                        <label class="form-label text-dark" for="pwd">Password</label>
                                        <input class="form-control" id="pwd" type="password">
                                    </div>
                                </div>
                                <a href="" class="mt-o mb-3 text-end"><small>Forgot Password?</small></a>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn w-100 btn-login">Login</button>
                                </div>
                                <!-- <div class="col-lg-12 text-center mt-5">
                                    Don't have an account? <a href="#" class="text-danger">Sign Up</a>
                                </div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% include 'scripts.html' %}
</body>
</html>