<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> 
                    <a class="sidebar-link sidebar-link" href="/" aria-expanded="false">
                        <i data-feather="airplay" class="feather-icon"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="list-divider"></li>

                <!-- <li class="nav-small-cap"><span class="hide-menu">Self-service</span></li>

                 <li class="sidebar-item"> 
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i data-feather="dollar-sign" class="feather-icon"></i>
                        <span class="hide-menu">Finance </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item">
                            <a href="/imprests/" class="sidebar-link">
                                <span class="hide-menu"> Imreprest Requisition </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Imprest Surrender </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Staff Claim </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i data-feather="users" class="feather-icon"></i>
                        <span class="hide-menu">Human Resource </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Leave Request </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Appraisal</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Training </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> P9                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Payslip </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i data-feather="shopping-bag" class="feather-icon"></i>
                        <span class="hide-menu">Procurement </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Purchase Requisition </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Repair & Maintenance </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Store Requisition </span>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <!-- <li class="sidebar-item"> 
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i data-feather="users" class="feather-icon"></i>
                        <span class="hide-menu">Human Resource </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Leave Request </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Appraisal</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Training </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> P9                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Payslip </span>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <li class="sidebar-item"> 
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i data-feather="truck" class="feather-icon"></i>
                        <span class="hide-menu">Transport </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Vehicle Products </span>
                            </a>
                        </li>
                        <!-- <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Repair & Maintenance </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <span class="hide-menu"> Store Requisition </span>
                            </a>
                        </li> -->
                    </ul>
                </li>
                <!-- <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="#" aria-expanded="false">
                        <i data-feather="truck" class="feather-icon"></i>
                        <span class="hide-menu">Transport Request</span>
                    </a>
                </li> -->

                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Management</span></li>

                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="#" aria-expanded="false">
                        <i data-feather="check-square" class="feather-icon"></i>
                        <span class="hide-menu">Approvals </span>
                    </a>
                </li>


                <li class="list-divider"></li>
                <!-- <li class="nav-small-cap"><span class="hide-menu">Extra</span></li> -->

                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="#" aria-expanded="false">
                        <i data-feather="log-out" class="feather-icon"></i>
                        <span class="hide-menu">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>